# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

# virtual environment
venv/

# system files
.DS_Store

# rust build files
target/

# build directory
build/

# log directory
logs/

# artifacts
artifacts/
# Model artifacts directories in models/
models/*_artifacts/

# gitlab-ci-local
.gitlab-ci-local/
